

/* ==========================================================================
Author's custom styles
========================================================================== */

body {
  padding-top: 0px;
}

h1, h2, h3 {font-family: 'Pompiere', cursive;}

/* Header and footer */
.navbar {
  margin-bottom: 0px;

  .navbar-right li {
    margin-left: 15px;
  }
}

.navbar-default .navbar-brand {
  color: #56A7E9
}

.logo {
  height:20px;
  display: inline-block!important;
}

.navbar-nav>li>a.btn {
  margin-top: 6px;
  margin-left: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
}

footer {
  background-color: #eee;
  padding-top: 40px;
  padding-bottom: 40px;
}

footer hr {
  border-color: grey;
}

/* Homepage */
.jumbotron {
  margin-bottom: 0px;
}
.jumbotron h1, .jumbotron .h1 {
  font-size: 46px;
  margin-bottom: 16px;
}
.main-sections {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

/* Content */
.header-section {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
}

.main-content {
  margin-bottom: 30px;
}

.next-section {
  margin-top: 30px;
}

.main-content {
  h1, h2 {
    padding-top: 25px;
  }
  h1:first-child,
  h2:first-child {
    padding-top: 0px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
}

/* @media */

@media screen and (min-width: 992px) {
  .bs-sidebar.affix {top: 10px;}
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding: 60px 0;
  }

}
