<div class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <h1>Policy</h1>
        <p>Policy stuff here</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <!--Nav Bar -->
      <nav class="col-xs-3" id="sidenav">
          <ul class="nav nav-stacked" data-spy="affix" data-offset-top="211" data-offset-bottom="291">
              <li>
                  <a href="#section_1">Why does policy matter?</a>
              </li>
              <li>
                  <a href="#section_2">What are policy’s limitations?</a>
              </li>
              <li>
                  <a href="#section_3">What is a good school policy?</a>
                  <ul class="nav nav-stacked">
                      <li><a href="#section_3_1">According to SAFER</a></li>
                      <li><a href="#section_3_2">According to federal policy</a></li>
                  </ul>
              </li>
              <li>
                  <a href="#section_4">Current school policies</a>
              </li>
              <li>
                  <a href="#section_5">Federal laws</a>
                  <ul class="nav nav-stacked">
                      <li><a href="#section_5_1">What is Title IX?</a></li>
                      <li><a href="#section_5_2">What is the Clery Act?</a></li>
                      <li><a href="#section_5_3">What is Campus SaVE?</a></li>
                  </ul>
              </li>
          </ul>
      </nav>
      <!--Main Content -->
      <div class="col-xs-9">
          <section id="section_1">
            <h2>Why does policy matter?</h2>
            <p>
              Strong college sexual assault policies are an important element in the prevention of sexual assault, dating violence, and stalking. Despite the well-known extent of interpersonal violence among college students, current college policies commonly do not include primary prevention efforts, lack student input, and further traumatize survivors. By maintaining inadequate policies and resisting student demands for change, colleges create an atmosphere that condones violence, silences survivors, and reduces equal access to the benefits of a college education. Our challenge is to provide resources for students who wish to change this state of affairs.

              Student activism that focuses on policy reform is critical to an anti-violence movement as it creates sustainable change that will outlast student turnover when successful. A good policy is the foundation for excellent campus services. However, a full policy reform campaign is also a commitment that not every group is ready or capable to take on, and we get that.
            </p>
          </section>

          <section id="section_2">
            <h2>What are policy's limitations?</h2>
            <p>
              Policy represents a powerful tool for social change, but it also has its drawbacks.
              <ul>
                <li>
                  Activism centered on policy may not be a viable option for marginalized communities (students of color, LGBTQ+ students, undocumented students, etc.) that have been treated with hostility, discriminated against, or ignored by institutional power and authority.
                </li>

                <li>
                 Policies are not always implemented as written.
                </li>

                <li>
                  Policies may have unintended consequences.
                </li>

                <li>
                  While the recent surge of federal legislative and policy activity has advanced activists’ demands, it has also yielded an emphasis on compliance, which sometimes comes at the expense of high-quality, community-based solutions to supporting survivors and reducing campus sexual assault, dating violence, and stalking. 
                </li>
              </ul>
            </p>
          </section>

          <section id="section_3">
            <h2>What is a good school policy?</h2>
            <section id="section_3_1">
              <h3>According to SAFER</h3>
              <p>
                <ul>
                  <li>
                    Student Input: Policies should outline the ways in which students from diverse communities can formally communicate their concerns about a policy to administrators and an effective, democratic means of changing the policy if it does not suit students’ needs.
                  </li>

                  <li>
                    Accessibility: Policies should be easy to locate, understand, and use. Administrators should effectively publicize policies and ensure that students understand how they work. Students should be able to use services and disciplinary procedures regardless of income, ability, race or ethnicity, sexual orientation, or gender identity. Also, students should be afforded the option to report incidents of sexual assault either confidentially or anonymously.
                  </li>

                  <li>
                    Fairness: Disciplinary procedures should be clearly stated, standardized, and consistently enforced. Procedures should include measures to ensure fair treatment of those who come forward with complaints of sexual assault, dating violence, and stalking and provisions protecting students wrongly accused.
                  </li>

                  <li>
                    Oversight: Policies should clearly state how the school verifies that the policy is being implemented consistently and as written. Students should have formal access to that verification process and have a way to raise concerns if they feel the process is not being implemented properly and effectively. At no point in the process should one single person have absolute authority for carrying out the policy.
                  </li>

                  <li>
                    Prevention and Education: Policies should mandate the provision of meaningful efforts to educate students on the dynamics of sexual assault, the effects it has on survivors, and the many cultural factors that allow it to continue. These efforts should challenge sexism, homophobia, transphobia, racism, and other forms of oppression that intersect with sexual assault, dating violence, and stalking rather than reinforcing or ignoring them.
                  </li>

                  <li>
                    Crisis Intervention: Survivors should have crisis services available to them 24 hours per day, every day of the school year. Free emergency contraception, antibiotics, and post-exposure HIV prophylaxis should be available in school health centers. Policies should notify students about these resources.
                  </li>

                  <li>
                    Long-Term Counseling: Colleges should provide survivors with access to unlimited, free counseling and be able to link students directly to community resources that provide this service. Policies should notify students about these therapeutic resources.
                  </li>

                  <li>
                    Community Involvement: Policies should state the ways in which schools are responsible to surrounding communities. Members of the community who are sexually assaulted by students or staff should receive services offered by the college. Innocent community members should not be harassed or harmed in efforts to “protect” students. Schools should collaborate with community members, leaders, and organizations to ensure a safe environment for students and non-students in the surrounding community.
                  </li>

                  <li>
                    Amnesty: Policies should clearly state that victims who may have been in violation of other school policies (i.e., drinking or using drugs) at the time of their assault would receive immunity from campus discipline when they report.
                  </li>

                  <li>
                    Sexual Assault Response Training: Policies should stipulate that staff and faculty receive thorough training on how to appropriately respond to students reporting sexual assault.
                  </li>

                  <li>
                    Confidentiality: Policies should clearly and prominently outline confidential resources on campus. Policies should inform students that employees not listed as confidential may be required to report disclosed incidents of sexual assault to the school.
                  </li>

                  <li>
                    Beyond Compliance: Schools’ sexual assault policies should comply with Title IX and the Clery Act, but schools’ efforts should not stop at compliance. Instead, they should seek to implement advocacy and prevention programs that not only achieve compliance, but also reflect the best available evidence about reducing sexual assault incidence and the specific needs of their campus community.
                  </li>
                </ul>
              </p>
            </section>

            <section id="section_3_2">
              <h3>According to federal policy</h3>
              <p>
                <ul>
                  <li>
                    Developed with input from all stakeholders: Survivors, students, campus security, local law enforcement, resident assistants, and survivor support services (both on-campus and in the local community) should work collaboratively to design the policy.
                  </li>

                  <li>
                    A confidential advisor for survivors: Students should have access to a confidential victim advocate who can direct survivors to various resources, arrange accommodations, explain the school’s disciplinary procedure, and guide them through the adjudication process. Schools should provide clear information about who on campus can and cannot maintain a survivors’ confidentiality, and an explanation of when they would break confidentiality (to proceed with an investigation) in order to protect the campus community.
                  </li>

                  <li>
                    A comprehensive sexual misconduct policy: Schools should have an easily accessible sexual misconduct policy that includes definitions of forms of sexual misconduct, the role of the Title IX coordinator, and the steps the school takes (including immediate, interim, and long-term measures) on behalf of survivors, regardless of whether they pursue disciplinary action.
                  </li>

                  <li>
                    Trauma-informed training for school officials: School officials serving on hearing boards must receive specialized, annual training about sexual assault, dating and domestic violence, and stalking, as well as the effects of trauma on survivors.
                  </li>

                  <li>
                    Better school disciplinary systems: Adjudicators should abide by the meaning of consent, and not ask questions about survivors’ sexual history. The two parties should not be permitted to personally cross-examine each other.
                  </li>

                  <li>
                    Partnerships with the community: Schools should build partnerships with the local community, such as with local rape crisis centers when necessary in order to provide victims services (including 24/7 crisis intervention services, advocates to support survivors at medical and legal appointments, and mental health care). Campus security should have a Memorandum of Understanding (MOU) with local law enforcement. An MOU can improve communication and facilitate cooperation between campus security and local law enforcement when they are both investigating the same case.
                  </li>

                  <li>
                    Mandatory prevention education: Schools are required to offer prevention education that includes a statement that the school prohibits sexual assault, dating and domestic violence, and stalking; definitions of sexual assault, dating and domestic violence, stalking, and consent based on state law; bystander intervention materials; and risk reduction information.
                  </li>
                </ul>
              </p>
            </section>
          </section>

          <section id="section_4">
            <h2>Current school policies</h2>
            <p>
              Current school policies (link to CAP report, maybe a paragraph about how the project is on hiatus)
            </p>
          </section>

          <section id="section_5">
            <h2>Federal Laws</h2>
            <section id="section_5_1">
              <h3>What is Title IX?</h3>
              <p>
                Title IX of the Education Amendments of 1972 prohibits sex discrimination in educational institutions that receive federal funds. In 2011, the Department of Education’s Office for Civil Rights issued a Dear Colleague Letter (DCL) to clarify that Title IX requires schools to protect students from sexual violence, which is a legally recognized form of sex discrimination. The DCL also offered guidance on schools’ procedural obligations under Title IX. Schools are required to protect and support survivors so that they may continue their education, and those that violate Title IX risk losing federal funding.
              </p>
            </section>

            <section id="section_5_2">
              <h3>What is the Clery Act?</h3>
              <p>
                The Jeanne Clery Disclosure of Campus Security Policy and Campus Crime Statistics Act of 1990, an amendment to the Higher Education Act of 1965, is named after a Lehigh University freshman who was raped and murdered on campus in 1986. The Clery Act requires schools that receive federal financial aid to report all crimes that occur on or near their campus. Among other requirements, schools must publish annual security and fire safety reports; keep a public crime log; disclose crime statistics; issue timely warnings about crimes that threaten the safety of the school community; publish information about educational programs aimed at preventing sexual assault; develop an emergency response and notification procedure; and create policies and procedures for handling reports of missing students. The Clery Act was amended in 1992 to include a bill of rights for college sexual assault survivors. For more information about the Clery Act, check out the Clery Center’s website (http://clerycenter.org/summary-jeanne-clery-act). 
              </p>
            </section>

            <section id="section_5_3">
              <h3>What is Campus SaVE (also known as the VAWA amendment)?</h3>
              <p>
                President Obama signed the Campus Sexual Violence Elimination (SaVE) Act into law in 2013 as part of the reauthorization of the Violence Against Women Act (VAWA). The SaVE Act amended the Clery Act to increase transparency (including broadening the Clery Act’s definition of sexual offenses to include domestic violence, dating violence, and stalking); ensure equitable disciplinary proceedings; and improve education, prevention, and response practices through collaboration with the federal government. For more information about Campus SaVE, check out the Clery Center’s website (http://clerycenter.org/article/vawa-amendments-clery).
              </p>
            </section>
          </section>
      </div>
  </div>
</div>
