/* ==========================================================================
Author's custom styles
========================================================================== */
@import "prefixer";
@import "variables";

@import "navbar_toggle";
@import "footer";
@import "sidenav";

body {
  padding-top: 0px;
}

h1, h2, h3 {
  font-family: 'Pompiere', cursive;
}

/* Header and footer */
.navbar {
  margin-bottom: 0px;
  .navbar-right li {
    margin-left: 15px;
  }
}

.navbar-default .navbar-brand {
  color: #56A7E9;
  padding: 0px;
  margin-top: -5px;
  margin-left: 15px;

  @media screen and (min-width: @small-screen) {
    & {
      margin-left: 0px;
    }
  }
}

.logo {
  display: inline-block !important;
  height: 45px;
  margin-top: 7px;
}

.page-logo {
  max-height: 100px;
  margin-bottom: 15px;
  margin-top: -15px;
}

.navbar-nav > li > a.btn {
  margin-top: 6px;
  margin-left: 5px;
  padding-top: 8px;
  padding-bottom: 8px; }



/* Homepage */
.jumbotron {
  margin-bottom: 0px;

  h1 {
    font-size: 46px;
    margin-bottom: 16px;
  }

  @media screen and (min-width: @small-screen) {
    & {
      padding: 60px 0;
    }
  }
}

.jumbo-image {
  background: url("/application/themes/safer/img/jumbotron.jpg") no-repeat center center;
  background-size: cover;
  height: 300px;
  width: 100%;
}

.main-sections {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 45px;
}

/* Content */
.header-section {
  padding-top: 30px;
  border-bottom: 1px solid #eee;
  @media screen and (min-width: @medium-screen) {
    // Fix height of header section when sidenav is moveable
    & {
      height: 160px;
      padding-bottom: 30px;
    }
  }
}

.main-content {
  margin-bottom: 30px;

  &.full {
    margin-top: 30px;
  }

  h1, h2 {
    padding-top: 25px;

    &:first-child {
      padding-top: 0px;
    }
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }
}

.table.teach-in {
  thead {
    text-align: center;
    color: #56A7E9;
    font-weight: 200;
    font-size: 18px;
  }

  .blue {
    color: #56A7E9;
  }

  .large {
  font-size: 18px;
  font-weight: 200;
  }
}

.donate-toggle-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
