<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Pompiere|Rokkitt|Roboto+Condensed|Roboto+Slab|Slabo+27px' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ "/css/application.css" | prepend: site.baseurl }}">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body data-spy="scroll" data-target="#sidenav" data-offset="20">
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img alt="Draft pennant logo blue" class="logo" src="{{ site.baseurl }}/img/draft-pennant-logo-blue.png"> SAFER
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% for site_page in site.pages %}
          {% if site_page.title %}
            <li{% if page.url == site_page.url %} class="active"{% endif %}>
              <a href="{{ site_page.url | prepend: site.baseurl }}">{{ site_page.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <p class="navbar-btn">
            <a class="btn btn-primary" href="/teach-in">Request a teach-in</a>
          </p>
        </li>
        <li>
          <p class="navbar-btn">
            <a class="btn btn-primary" href="/donate">Donate</a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>

{{ content }}

<div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p><b>School Sexual Assault</b></p>
          <a href="{{ site.baseurl }}/basics">The Basics</a><br>
          <a href="{{ site.baseurl }}/policy">Policy</a><br>
          <a href="{{ site.baseurl }}/activism">Activism</a>
        </div>
        <div class="col-md-2">
          <p><b>About Us</b></p>
          <a href="{{ site.baseurl }}/about">About</a><br>
          <a href="{{ site.baseurl }}/press">Press</a><br>
          <a href="{{ site.baseurl }}/terms">Terms</a>
        </div>
        <div class="col-md-2">
          <p><b>Community</b></p>
          <a href="{{ site.baseurl }}">Twitter</a><br>
          <a href="{{ site.baseurl }}">Facebook</a><br>
          <a href="{{ site.baseurl }}/contact">Contact Us</a>
        </div>
        <div class="col-md-5">
          <p><b>Join Our Newsletter!</b></p>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <div class="col-sm-12">
                <input type="email" class="form-control" id="" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-9">
                <input type="text" class="form-control" id="" placeholder="Name">
              </div>
              <div class="col-sm-3">
                <button type="submit" class="btn btn-primary">Subscribe</button>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <p class="small">&copy; 2015 Students Active For Ending Rape. All Rights Reserved.</p>
      </div>
    </footer>
  </div>
</body>
</html>
